<footer>
    <div class="footer">
        <section class="footer-section">
            <i class="fa-solid fa-credit-card"></i>
            <p class="headlines-footer">
                Pagá con tarjeta o en efectivo
            </p>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="footer-section">
            <i class="fa-solid fa-gift"></i>
            <p class="headlines-footer">
                Envío gratis desde $ 2.500
            </p>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="footer-section">
            <i class="fa-solid fa-user-shield"></i>
            <p class="headlines-footer">
                Seguridad, de principio a fin
            </p>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>
        </section>
    </div>
    <div class="copyright">
        <section class="footer-section">
            <p>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </p>
        </section>
    </div>
</footer>